<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/antipastosalad.css" type="text/css">
    <title>Mishmash Antipasto Salad Page</title>
</head>
<body class="antipastobackground" background="https://res.cloudinary.com/fdmckie/image/upload/v1569270588/AntipastoBackground_v8aygt.jpg">
<!--<body class="antipastobackground">-->

<!--<nav>-->
<!--    <a href="/learn-html.html">HTML</a> | <a href="/learn-css.html">CSS</a> | <a href="/learn-javascript.html">JavaScript</a> | <a href="/learn-php.html">PHP</a> |-->
<!--</nav>-->

<div class="container">
    <h1>Mishmash Antipasto Salad</h1>
    <br><br><br>


    <!--<h3>From Italy/USA</h3>-->
    <!--<img src="https://res.cloudinary.com/fdmckie/image/upload/v1569271665/ItalyFlag_g4r9dm.jpg" alt="Italy Flag" height="200">-->
    <!--<img src="https://res.cloudinary.com/fdmckie/image/upload/v1569271665/USAFlag_piexti.jpg" alt="USA Flag" height="200">-->


    <p class="country">From Italy/USA <img src="https://res.cloudinary.com/fdmckie/image/upload/v1569271665/ItalyFlag_g4r9dm.jpg" alt="Italy Flag" height="200"> <img src="https://res.cloudinary.com/fdmckie/image/upload/v1569271665/USAFlag_piexti.jpg" alt="USA Flag" height="200"></p>



    <br><br><br>
    <h2>Ingredients:</h2>


    <h4>Antipasto Salad Ingredients:</h4>

    <ul class="saladingredients">
        <li>1 lb. dry pasta (Tri-color rotini is recommended...)</li>
        <li>4 cups chopped vegetable ingredients (red peppers, yellow peppers, green peppers, orange peppers, red and/or white onions)</li>
        <li>1 cup of cut/diced tomatoes (Roma and/or Cherry)</li>
        <li>1/2 cup of Italian cheese(s) combination (optional)</li>
        <li>1 1/3 cups of meats (Genoa salami, Hard salami, Pepperoni, Ham) (optional)</li>
    </ul>
    <br><br>

    <h4>Vinaigrette Ingredients:</h4>


    <ul class="vinaigretteingredients">
        <li>1/2 cup extra-virgin olive oil</li>
        <li>1/2 cup red wine vinegar</li>
        <li>1/4 teaspoon of Italian seasoning</li>
        <li>1/4 teaspoon parsley</li>
        <li>1/4 teaspoon oregano</li>
        <li>1/4 teaspoon black pepper</li>
        <li>1/4 teaspoon of garlic</li>
        <li>1 teaspoon (each) of 2 different mustards</li>
    </ul>
    <br><br>

    <img src="https://res.cloudinary.com/fdmckie/image/upload/v1569270588/Antipasto-Pasta-Salad-6_jlrojw.jpg" alt="Antipasto Salad" height="300">

    <h3>Directions:</h3>
    <br>
    <h4>To Make The Antipasto Salad:</h4>
    <p class="saladingredients">1. Cook the pasta in a large pot according to package directions. Adding a pinch (or 2) of Kosher salt is recommended. Drain pasta and rinse under cold water until no longer hot.</p>
    <br>
    <p class="saladingredients">2. In a large bowl, combine the cooked pasta, chopped vegetables, tomatoes and meats. Drizzle the Vinaigrette on top, then toss to combine. Best served if chilled in refrigerator overnight.</p>

    <br>
    <h4>To Make The Vinaigrette:</h4>

    <p class="vinaigretteingredients">1. Whisk all ingredients together until combined.</p>


    <br><br>
    <h2>Serves at least 8 people</h2><br><br><br>






</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>