<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>P&atilde;o de Queijo - Cheese Bread</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Vibes&display=swap" rel="stylesheet">
    <style>
        body {
            background: url('https://res.cloudinary.com/dtudwqsqx/image/upload/v1569332106/Good_Food_Display_-_NCI_Visuals_Online_tqljbd.jpg') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            background-size: cover;
            -o-background-size: cover;
        }
        .title {
            font-family: 'Vibes', cursive;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Let's_Eat</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="/greens">Greens</a>
                    <a class="dropdown-item" href="/smoothies">Smoothies</a>
                    <a class="dropdown-item" href="/reymofongo">Mofongo</a>
                    <a class="dropdown-item" href="/cheese-bread">P&atilde;o de Queijo - Cheese Bread</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<main role="main" class="container">
    <div class="jumbotron">
        <h1>P&atilde;o de Queijo - Cheese Bread <img src="https://res.cloudinary.com/dtudwqsqx/image/upload/v1569348617/Brazil_flag_300_egmqed.png" height="32" /></h1>
        <h2>Ingredients</h2>

        <ul>
            <li>4 cups tapioca flour</li>
            <li>1 1/4 cups milk</li>
            <li>1/2 cup water</li>
            <li>6 tablespoons oil</li>
            <li>1 1/2 cups grated parmesan cheese</li>
            <li>1 cups shredded Mozzarella cheese</li>
            <li>2 large eggs</li>
            <li>2 teaspoons salt</li>
        </ul>

        <h2>Directions</h2>

        <p>Preheat oven to 400F degrees with a rack in the middle.</p>
        <p>Combine the milk, water, oil and salt in a saucepan and bring to a boil over medium high heat.</p>
        <p>Add the tapioca flour to the bowl of a stand mixer and, once the milk mixture boils, pour it over the flour. Turn the mixer on and mix it well. The texture will be fondant-like, really white and sticky.</p>
        <p>With the mixer still on, add the eggs, one at a time. You will think they won't mix, since the tapioca flour mixture is so sticky, but hang in there cause they will.</p>
        <p>Once the eggs are incorporated, add the cheese, a little at a time, until fully incorporated.</p>
        <p>The dough is supposed to be soft and sticky. However, if you're worried it's too liquidy, add some more tapioca flour. Just don't over do it or your cheese bread will be tough and not too gooey.</p>
        <p>To shape the balls, wet your hands with cold water and, using a spoon, scoop some of the dough to shape balls that are a little smaller than golf-sized.</p>
        <p>Place the balls on a baking sheet covered with parchment paper and bring it to the preheat oven.</p>
        <p>Bake for 15-20 minutes or until they are golden and puffed.</p>
        <p>Serve them warm! :)</p>

        <h2>Serves 4 people</h2>

        <img src="https://res.cloudinary.com/dtudwqsqx/image/upload/v1569347999/paodequeijo_lubzhx.jpg" alt="Cheese Bread" height="200">
    </div>
</main>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>