<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delicious Smoothies</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        .container{
            background: url(https://res.cloudinary.com/ascension-enterprises/image/upload/v1569343860/samples/Java%20Boot%20Camp/u9UeFz_baef1p.jpg) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            font-family: "Source Code Pro";
            font-size: large;
        }
    </style>
</head>
<body style="background-color: lightyellow">
<nav class="nav">
    <a class="nav-link active" href="#"><strong>Nav Bar</strong></a>
    <a class="nav-link" href="/">Home</a>
    <a class="nav-link" href="/fruity-delicious">Fruity Delicious</a>
    <a class="nav-link" href="/lemon-lite">Lemon Lite</a>
</nav>
<br>

<div class="container" >
    <div class="jumbotron" style="background-color: lightcyan">
        <center><h1>List of John's Smoothies</h1></center>
    </div>
    <center>
        <table>
            <tr>
                <th>
                    <p></p>Visit <a href="/fruity-delicious">Fruity-Delicious</a> for recipe.</p>
                    <img src="https://res.cloudinary.com/ascension-enterprises/image/upload/v1569270776/samples/Java%20Boot%20Camp/6fy5iab9_pxd3rp.bmp"
                         alt="Smoothy"
                         height="200">
                </th>
                <th><p></p>Visit <a href="/lemon-lite">Lemon Lite</a>  for recipe.</p>
                    <img src="https://res.cloudinary.com/ascension-enterprises/image/upload/v1569270764/samples/Java%20Boot%20Camp/jncoyt0z_tfwxdy.bmp"
                         alt="Smoothy"
                         height="200">
                </th>
            </tr>
            <tr>
                <th><p></p>Visit <a href="http://w3schools.com/html">Orange Blender</a> for recipe.</p>
                    <img src="https://res.cloudinary.com/ascension-enterprises/image/upload/v1569270747/samples/Java%20Boot%20Camp/86smhi3q_xfmigs.bmp"
                         alt="Smoothy"
                         height="200">
                </th>
                <th><p></p>Visit <a href="http://w3schools.com/html">Berry Apertif</a> for recipe.</p>
                    <img src="https://res.cloudinary.com/ascension-enterprises/image/upload/v1569270649/samples/Java%20Boot%20Camp/5m8z29sp_vp7moa.bmp"
                         alt="Smoothy"
                         height="200">
                </th>
            </tr>
        </table>
    </center>
    <br><br><br>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>